<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Automation-Suite with Playwright and test-ng" parallel="classes" thread-count="4">
    <listeners>
        <listener
                class-name="framework.report.TestRunnerListener"/>
    </listeners>
    <test name="UI tests">
        <classes>
            <class name="regression.ui.user_management.UserLogInUITest"/>
            <class name="regression.ui.user_management.UserRegistrationUITest"/>
        </classes>
    </test>
    <test name="API tests">
        <classes>
            <class name="regression.api.book_store.BookStoreTest"/>
        </classes>
    </test>
</suite>