<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Automation-Suite with Selenium and test-ng">
    <listeners>
        <listener
                class-name="framework.report.TestRunnerListener"/>
    </listeners>
    <test name="Parabank application test">
        <classes>
            <class name="regression.automation_exercise.UserLogInTest"/>
            <class name="regression.automation_exercise.UserRegistrationTest"/>
        </classes>
    </test>
</suite>