<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Automation-Suite with Selenium and test-ng">
    <listeners>
        <listener
                class-name="framework.report.TestRunnerListener"/>
    </listeners>
    <test name="Playwright application test">
        <classes>
            <class name="ui_regression.playwright_automation.SampleTest"/>
        </classes>
    </test>
</suite>